body {
    background-color: blue !important;
}

title {
    background-color: yellow;
}

.test {
    background-color: orange !important;
}
h1 {
    color: red !important;
}

.testing {
    color: blue;
}